<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Blazing Wolf CMS{% endblock %}</title>

  {% block stylesheets %}
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous"
    referrerpolicy="no-referrer" />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ asset('assets/css/master.css') }}">
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  {% endblock %}

  <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/logos/favicon.png') }}" />
</head>

<body>

    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light nav-border">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('assets/images/logos/cms-logo-v2_238-64.png') }}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ path('home') }}">{% trans %}nav.home{% endtrans %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('about') }}">{% trans %}nav.about{% endtrans %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('search') }}">{% trans %}nav.search{% endtrans %}</a>
            </li>
          </ul>

          <ul class="navbar-nav d-flex me-2">
            <li class="nav-item">
              <a class="nav-link" href="/en"><img src="{{ asset('assets/images/flags/us.png') }}"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/de"><img src="{{ asset('assets/images/flags/de.png') }}"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}

    {% block header %}

    {% endblock %}

<div class="container content">
  {% block body %}

  {% endblock %}
</div>

    {% block footer %}
    <footer class="footer py-4 bg-light fixed-bottom">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">&copy; {{ "now" | date("Y") }} Blazing Wolf CMS || All rights reserverd.</div>
                <div class="col-lg-4 my-3 my-lg-1">
                    <a class="btn btn-dark btn-social mx-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" href="#">{% trans %}footer.tos{% endtrans %}</a>
                    <a class="link-dark text-decoration-none me-3" href="#">{% trans %}footer.disclaimer{% endtrans %}</a>
                    <a class="link-dark text-decoration-none me-3" href="#">{% trans %}footer.privacy-policy{% endtrans %}</a>
                    <a class="link-dark text-decoration-none" href="#">{% trans %}footer.imprint{% endtrans %}</a>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}


    {% block javascripts %}
    <!-- Bootstrap Bundle with Popper JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- FontAwesome JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/js/all.min.js" integrity="sha512-cyAbuGborsD25bhT/uz++wPqrh5cqPh1ULJz4NSpN9ktWcA6Hnh9g+CWKeNx2R0fgQt+ybRXdabSBgYXkQTTmA==" crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <!-- Custom jS -->
    <link rel="stylesheet" href="{{ asset('js/master.js') }}">
    {% endblock %}


</body>

</html>
